/* Overriding highlights theme */

.certifications-list {
  list-style-type: none;
}
.jobs {
  text-align: left;
}
.jobs p {
  margin: 0;
}
.company-name {
  font-weight: bold;
}
.job-timeline {
  font-style: italic;
}
.job-title{
  font-weight: bold;
}
.highlights{
  padding-top: 10px;
  padding-left: 5%;
}
hr {
  width:100%;
  height:1px;
}
